<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href='manifest.json' />
  </head>
  <body>
    <header>
      <h1>Weather News</h1>
    </header>
    <hr />
    <div>
      <select id="source_city"></select><span>call from client side js</span>
    </div>
    <div>
      <select id="source_city_servercall"></select><span>call from server side</span>
    </div>
<!--    <button id="button_test">TEST</button>-->
    <hr />
    <main></main>
    <script src="weather_app.js"></script>
  </body>
</html>
